[Unit]
Description=Cloud SQL Proxy
After=network.target

[Service]
ExecStart=/usr/local/bin/cloud-sql-proxy \
  -dir=/cloudsql \
  {{ cloudsql_connection_name }}
Restart=always
User=root

[Install]
WantedBy=multi-user.target
